html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/banner-image.jpg") no-repeat center center / cover;
}

.brand-animation {
    animation-name: anim;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
/* navbar */

/* end of navbar */
.navbar-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    padding: 30px;
    transition: all 1s;
    
}
.nav-animation {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.custom-navbar {
    padding: 10px 30px;
}
.line1, .line2, .line3 {
    width: 30px;
    height: 3px;
    background: #ffc107;
    margin: 6px;
    transition: all .3s;
}
.change .line1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}
.change .line2 {
    opacity: 0;
}
.change .line3 {
    transform: rotate(45deg) translate(-6px, -7px);
}
.nav-menu {
    
}
a.menu-item {
    font-size: 16px;
    letter-spacing: 1px;
    color: #eee;
    padding: 5px;
    transition: color 0.4s;
}
a.menu-item:hover {
    color: #ffc107;
}
a.active {
    color: #ffc107;
}


/* banner */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-heading {
    animation-name: anim;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-delay: 1.5s;
}
.banner-p {
    animation-name: anim;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    } 
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* end of banner */
/* end of Header */

/* mission */
.mission {
    background: #000;
}
.underline {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
}
.underline-dark{
    width: 150px;
    border: 3px solid rgb(20, 20, 20);
    margin: auto;
}

.from-right {
    animation-name: fromRight;
    animation-duration: 4s;
    animation-fill-mode: both;
}
.from-left {
    animation-name: fromLeft;
    animation-duration: 4s;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    } 
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fromRight {
    0% {
        transform: translateX(80px);
        opacity: 0;
    } 
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* end of mission */

/* Collections */
.c-card {
    box-shadow: 10px 15px 30px #444;
    cursor: pointer;
}
.c-title {
    position: absolute;
    top: 70%;
    right: 0;
    background: #222;
    padding: 12px;
    width: 75%;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s;
}
.c-img:hover {
    transform: scale(1.5);
}
.c-title:hover {
    opacity: 1;
}
/* end of Collections */

/* Gallery */
.gallery-list-item {
    cursor: pointer;
    user-select: none;
    color: #777;
}
/* end of Gallery */

/* Price Table  */
.price-card {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../images/price-card-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 5px 15px 25px #999;
}

.card-title {
    font-weight: bold;
    padding: 15px 0px;
    border-bottom: 1px groove #888;
    text-transform: uppercase;
}

.price-list li{
    padding: 25px 0px 12px 0px;
    border-bottom: 1px solid #777;
    width: 75%;
    margin: auto;
}

.buy-btn {
    border-radius: 0;
    color: #000;
    font-weight: bold;
    transition: all 0.6s;
    border: none;
    width: 75%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 25px;
}
.buy-btn:focus {
    border: 0;
    box-shadow: none;
}
.buy-btn:hover {
    color: #fff;
    background: #000;
}
/* End of Price Table  */

/* Contact */
.contact {
    background: linear-gradient(120deg, 
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.7) 50%,
        transparent 50%),
         url('../images/contact-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.contanct-form {
 
}

.input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.input:focus {
    background: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: #ffc107 3px solid;
}
.send-btn {
    border-radius: 0;
    transition: all 0.5s;
}

/* -// end of Contact */
/* Footer */
.footer-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}
.footer-list {
    width: 100%;
}
.footer-link:hover {
    text-decoration: none;
    color: #ffc107;
}

.social-list {
    border-bottom: #ffc107 1px groove;
    width: 70%;
    margin: auto;
}
.social-list li {
    padding-left: 12px;
    padding-bottom: 5px;
}

.social-link .fa-facebook {
    color: #3C5A99;
}
.social-link .fa-twitter {
    color: #00aced;
}
.social-link .fa-youtube {
    color: #bb0000;
}
.social-link .fa-github {
    color: #000;
}
.copy-right {
    background: #000;
}
/* end of Footer */
